<h1 class="display-4">Welcome to ArticleBase</h1>
<p class="mb-4">This is sails.js app for managing article</p>
<a href="/article/list" class="btn btn-light">View Article</a>
<a href="/article/add" class="btn btn-light">Add Article</a>